@tailwind base;
@tailwind components;
@tailwind utilities;
/* SF Pro Display Fonts */
@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-HeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-SemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
.tooltip {
  display: none;
  position: absolute;
  bottom: 70px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 3000;
}

.dock-icon:hover .tooltip {
  display: block;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}


@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-Ultralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Display-UltralightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

/* SF Pro Text Fonts */
@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-HeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-SemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-Ultralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro/SF-Pro-Text-UltralightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}
